{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ title }}</h1>

    <div id="content" data-entrypoint="{{ entrypoint }}" data-jwt="{{ jwt | e('html_attr') }}">

    </div>

{% endblock %}
